header {
    text-align: center;
}
body{
    background-color: #dacf79;
}
li{
    display: inline-block;
     margin-right: 50px; 
}
nav {
    text-align: center;
    padding: 10px 0; /* Espacio opcional arriba y abajo del menú */
}

nav ul {
    padding: 0;
    margin: 0;
}
